@using ViewModelFun.Models
@model Message
@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <h1 class="display-4 text-center mb-5">Here is a Message!</h1>
    <p class="blockquote text-justify">@Model.Content</p>
</main>
