@using ViewModelFun.Models
@model User

@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <h1 class="display-4 text-center mb-5">Here is a User!</h1>
    <p class="blockquote text-center">@Model.Name</p>
</main>